<section class="bg-orange-200 h-full flex flex-col">
    @await Html.PartialAsync("_PartialHeader")
    @await Html.PartialAsync("_PartialCoursel")
    @await Html.PartialAsync("_PartialChooseMenu", new List<Menu>())
</section>
